<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lentokone projek</title>
  <link rel="stylesheet" href="../static/cc.css">
</head>
<body>
  <div class="topp">
    <h2 class="monni"> Money: {{ inventory.raha }}</h2>
    <h2 class="dirk">{{ inventory.dirk }}</h2>
  </div>
  <div class="midd" id="dialogBox">
    {% for a in content %}
      <p>{{ a }}</p>
    {% endfor %}
  </div>

  <div class="loww">
    <div class="actionBox" id="actionBox">
    <form action="{{ action }}" method="POST">
      <label>
        <input type="text" name="dirk" value="{{ inventory.dirk }}" hidden="hidden">
        <input type="text" name="raha" value="{{ inventory.raha }}" hidden="hidden">
      </label>

      <div class="actionBox">
      {% if nappi1 %}
          <input type="submit" name="teko" value="{{ nappi1 }}">
      {% endif %}
      {% if nappi2 %}
          <input type="submit" name="teko" value="{{ nappi2 }}">
      {% endif %}
      {% if nappi3 %}
          <input type="submit" name="teko" value="{{ nappi3 }}">
      {% endif %}
      {% if nappi4 %}
          <input type="submit" name="teko" value="{{ nappi4 }}">
      {% endif %}
      {% if nappi5 %}
          <input type="submit" name="teko" value="{{ nappi5 }}">
      {% endif %}
      {% if nappi6 %}
          <input type="submit" name="teko" value="{{ nappi6 }}">
      {% endif %}
      </div>
    </form>
  </div>
  </div>
</body>
</html>
